<h1>Cellier imprimable</h1>
<%= form_tag({}, :method => "post") do %>
  <p><%= label_tag(:q, "Coller les codes CUP ou SAQ ici:") %></p>
  <p><a href="https://www.facebook.com/notes/cellier-imprimable/comment-%C3%A7a-marche/552877194815389">Comment ça marche?</a></p>
  <textarea name="q" id="codes"></textarea>
  <div>Appliquer un rabais de <input type="text" name="rebate" value="0" style="width: 3em; text-align: right;">%</div>
  <div><label><input type="checkbox" name="export">Afficher en mode tabulaire</label></div>
  <div><%= submit_tag("Soumettre") %></div>
<% end %>

  <script src="zxing-cpp-emscripten/jquery-1.11.3.min.js"></script>
  <div>Barcode result: <span id="dbr"></span></div>
  <div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
  </div>
  <button id="go">Read Barcode</button>
  <div>
    <video muted autoplay id="video" playsinline="true"></video>
    <canvas id="pcCanvas" width="640" height="480" style="display: none; float: bottom;"></canvas>
    <canvas id="mobileCanvas" width="240" height="320" style="display: none; float: bottom;"></canvas>
  </div>
</body>

<script async src="zxing-cpp-emscripten/zxing.js"></script>
<script src="zxing-cpp-emscripten/video.js"></script>
