<!DOCTYPE html>
<html>
<head>
  <title>Générateur d'étiquettes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="footer">
  <span class="about"><a href="https://github.com/elecnix/printable-cellar-web/issues">Printable Cellar (Web)</a></span>
  <span class="bugs"><a href="https://github.com/elecnix/printable-cellar-web/issues">Rapporter un problème</a></span>
</div>
</body>
</html>
